

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
  transition: all 0.3s ease-in-out;
}


.app{
  background: url('./assets/photo-1581150257735-1c93ea8306ef.jpg');
  background-size: cover;
  background-position: center;
  
}

.cold, .warm{
  background-size: cover;
}

.app.warm{
  background: url('./assets/john-towner-CakC6u4d95g-unsplash.jpg');
  background-position: center;
}

.app.cold{
  background: url('./assets/F9g2FiPUSyC7IybhyI2p_09.jpg');
  background-position: center 20%;
}


main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
  padding: 25px;
}


.search-box{
  width: 100%;
  margin: 0 0 43px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}


.location-box .location {
  color: #FFF;
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 25px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 82px;
  font-weight: 700;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #FFF;
  font-size: 37px;
  font-weight: bold;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}